.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

progress::-webkit-progress-value {
  background: #083749;
}

progress::-moz-progress-bar {
  background: #083749;
}

#name{
  
  overflow: hidden;
  white-space: nowrap;
  animation: text-animate 1.4s steps(11) 1;
  border-right:5px solid #083749;
  width: 10ch;
}

@keyframes text-animate {
  0%{
    width: 0ch;
  }
  100%{
    width: 10ch;
    
  }
}